/EllipticSource/Sources
/EllipticSource/bin
/EllipticSource/obj
/blockExtraction/Context/ConnectionStrings.cs
/.vs
/blockExtraction/Elliptic

/blockExtraction/.vs
/blockExtraction/bin
/blockExtraction/obj

